Flask==0.9
Flask-Login==0.2.11
Flask-SQLAlchemy==0.16
Flask-WTF==0.8
Jinja2==2.6
SQLAlchemy==0.7.9
WTForms==1.0.2
Werkzeug==0.8.3
factual-api==1.6.0
geojson==1.0.9
gnureadline==6.3.3
ipdb==0.8
ipython==2.3.1
numpy==1.9.1
oauth==1.0.1
oauthlib==0.7.2
passlib==1.6.2
requests==2.3.0
requests-oauthlib==0.4.0
scikit-learn==0.15.2
scipy==0.14.0
wsgiref==0.1.2
