<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

        <link rel="stylesheet" type="text/css" href="/static/custom.css">
    <script src ="static/autocomplete.js"></script>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/"> <img src="/static/parsley_text_logo.png" width="75" height="30"> <img src="/static/parsley_logo.png" width="20" height="20"> </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user">PROFILE</a></li>
                            <li><a href="/favorites">FAVORITES</a></li>
                            <li><a href="/restaurants">SUGGESTIONS</a></li>
                            <li><a href="/about">SEARCH</a></li>
                            <li><a href="/contact">CONTACT</a></li>
                         

                         
                        {% if session %}
                        <li><a href="/logout">Logout</a></li>

                        {% else %}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Register</a></li>
                        {% endif %}

                       
                        
                        
                       
                    </ul>
                </div>

            </div>

        </div>

       

        <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <ul class="flashes">
                <li>{{message}}</li>
            </ul>
            {% endfor %}
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
        </div>

        <div class="container"><br>
        <div class="navbar navbar-bottom"> 
        </div></div>
    </body>
</html>
