<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>A simple map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" /> 
<style>
  body { margin:0; padding:0; }


  #map {
width: 100%;
position: inherited;
height: 300px;
width: 75%;
margin:0;
padding:0; 
border: 1px solid black;
border-radius: 8px;
}

</style>
</head>

{% extends 'base.html' %}
{% block body %}


    
<div class="panel panel-default">
	<div class="panel-body">
		<div class="container">  
    		<div class="row">
        		<div class="col-md-6">  
           			{{user[0].user.first_name}}, here are the restaurants you've favorited:
				  	<br>
				    <br>

				    {%for entry in user%}
				    {%if entry.rating == 1.0%}


				    {%if entry.restaurant.website != None%}
				    <a href = " {{ entry.restaurant.website }}"> {{entry.restaurant.name}}  </a></td></tr><br>
				    {%else%}
				     <tr><td> {{entry.restaurant.name}} </td></tr><br>
				    {%endif%}

				    {%endif%}
				    {%endfor%}
				    <br>
       			 </div>
        		<div class="col-md-6">
		            <div id="map"></div>
			            <script>
			            var map = L.map('map').setView([37.760815, -122.402303], 14);
			            mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';               
			            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Map data &copy; '+ mapLink , maxZoom: 24,}).addTo(map);
			            </script>
        			</div>
   				 </div>
			</div>
 		</div>
	</div>
</div>


{%endblock%}

