<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8 />
<title>A simple map</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />


<style>
  body { margin:0; padding:0; }


  #map {
width: 100%;
position: inherited;
height: 450px;
width: 100%;
margin:0;
padding:0; 
border: 1px solid black;
border-radius: 8px;
}
</style>
</head>

{% extends 'base.html' %}
{% block body %}


    
<div class="panel panel-default">
	<div class="panel-body">
		<div class="container">  
    		<div class="row">
        		<div class="col-md-3">  
        
           			{{user[0].user.first_name}}, here are the restaurants you've favorited:
				  	<br>
				    <br>

				    {%for entry in user%}
				    {%if entry.rating == 1.0%}


				    {%if entry.restaurant.website != None%}
				    <a href = " {{ entry.restaurant.website }}"> {{entry.restaurant.name}}  </a></td></tr><br>
				    {%else%}
				     <tr><td><a href = "https://www.google.com/search?q={{entry.restaurant.name}}"> {{entry.restaurant.name}}</a> </td></tr><br>
				    {%endif%}

				    {%endif%}
				    {%endfor%}
				    <br>
       			 </div>
		            
        			<div class="col-md-8">
					<div id="map"></div>
		            
			            <script>
			            var map = L.map('map').setView([37.760815, -122.402303], 14);
			            mapLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>';               
			            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Map data &copy; '+ mapLink , maxZoom: 24,}).addTo(map);


				    	{%for entry in user%}
						L.mapbox.accessToken = 'pk.eyJ1IjoibGF1cmVuY2hvdyIsImEiOiJucUh0bW5JIn0.gBWRI2kU11jtbi_owjmZ2g';
				    	L.marker([ {{entry.restaurant.latitude}}, {{entry.restaurant.longitude}} ], {
					    icon: L.mapbox.marker.icon({
					        'marker-size': 'large',
					        'marker-symbol': 'marker',
					        'marker-color': '#fa0'
					    })

					    
					}).addTo(map);

				    	   {%endfor%}
				    	</script>


        			</div>
   				 </div>
			</div>
 		</div>
	</div>
</div>


{%endblock%}

