{% extends 'base.html' %}

<style>
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

</style>

<div class="wrapper">
       <img src="/static/unsplash_city.jpg" class="img-responsive" alt="Responsive image">

{% block body %}  


 
    

     <!--  MOVE THIS TO THE HEAD EVENTUALLY -->





    <!-- ORDER MATTERS-->
    <div class="jumbotron">

    <h1>Restaurant recommendations – just for you. </h1>
    <p> </p><br> <br>
    <p><a class="btn btn-primary btn-lg" href="/restaurants" role="button" align="right">Get started</a></p>
    </div>




    </div>


{%endblock%}