
{% extends 'base.html' %}

<style>

<link href='http://fonts.googleapis.com/css?family=Noto+Sans|Bitter|Roboto:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/static/custom.css" />
</style>

{% block body%}

   
    <div class="jumbotron">

    <h1>Restaurant recommendations – just for you. </h1>
    <p> </p><br> <br>
    <p><a class="btn btn-primary btn-lg" href="/restaurants" role="button" align="right">Get started</a>
       <a class="btn btn-primary btn-lg" href="/about" role="button">How it works</a></p>
    </div>






{%endblock%}