{% extends 'base.html' %}
{% block body %}
 
<form class="form-signin" method="POST">
    <h2 class="form-signin-heading" width = "40px" align ="center">Please Log In</h2>
    <input type="email" name="email" class="form-control" placeholder="Email Address" required autofocus width = "40px" align ="center" />
    <input type="password" name="password" class="form-control" placeholder="Password" required  width = "40px" align ="center" />
    <button type="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    <br><br>
    Already signed up? Log in<a href = "/login"> here. </a><br><br>

    <i> Forgot your password? We'll have something for that one day. </i>
</form>

{% endblock %}