{% extends 'base.html' %}
  

    
     
    
{% block body %}


      Here's some restaurants we think you'll like. 
      <br><br>
     
      <!-- make this so it only prints the first one, then user rates it -->
      {%for entry in new_restaurant_suggestion.data()%}

       <div id = "{{entry.name}}"> 
            <a href = "{{entry.website}}" >{{entry['name']}} </a>
            <br>
            How does this sound?
            <a href= "/">
            <img src="/static/sad.png" alt="Love it" style="width:20xpx;height:20px"> 
            <a>

            <a href="/">
            <img src="/static/indifferent.png" alt="Love it" style="width:20xpx;height:20px"> 
            <a>
            <a href="/">
            <img src="/static/likeit.png" alt="Love it" style="width:20xpx;height:20px">
            <br> 
            </a>
            <br>
            </div>
          
      {%endfor%}


        <button type="btn btn-lg btn-primary btn-block" align = "center" type="get">
       Show me some new restaurants</button><br>
        </form>

      <br>
    



   

{%endblock%}