<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}



<link rel="stylesheet" href="magnific-popup/magnific-popup.css"> 

     
    
{% block body %}
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 


<script>
$('.test-popup-link').magnificPopup({ 
  type: 'image'
  // other options
});
</script>

    
 <div class="panel panel-default">
<div class="panel-body">

      We noticed that you like {{sorted_restaurant_features_similarity_keys[0]}},
      {{sorted_restaurant_features_similarity_keys[1]}} and
      {{sorted_restaurant_features_similarity_keys[2]}} <br>

      <br> <br> 
      Here's some restaurants we think you'll like. 
      <br><br>
     
      <!-- make this so it only prints the first one, then user rates it -->
      {%for entry in new_restaurant_suggestion.data()%}

       <div id = "{{entry.name}}"> 
            <a href = "{{entry.website}}" >{{entry['name']}} </a>
            <br>

            <a class="test-popup-link" href="{{entry.website}}"> Popup test: {{entry['name']}} </a>

            <br>
            How does this sound?
            <br> <br>

            <input type="image" name="identify" id="face_id_1" value="ID" img src="/static/sad.png" alt="Hate it" style="width:40xpx;height:40px" />
            

            <input type="image" name="identify" id="face_id_2" value="ID" img src="/static/indifferent.png" alt="Hate it" style="width:40xpx;height:40px" />
    
            <input type="image" name="identify" id="face_id_3" value="ID" img src="/static/likeit.png" alt="Love it" style="width:40xpx;height:40px" />
            <br> 
            </a>
            <br>
            </div>
          
      {%endfor%}


        <button type="btn btn-lg btn-primary btn-block" align = "center" type="get">
       Show me some new restaurants</button><br>
        </form>
</div>
</div>
      <br>
    
{%endblock%}

</html>