{% extends 'base.html' %}
 
	 <link rel="stylesheet" type="text/css" href="/static/map_time.css">

 

{% block body %}
 


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&KEY=AIzaSyAXGlzHtApRcLiSO2qYeFuouCkAd4K4w08"></script> 
    <script src ="static/autocomplete.js"></script>
     <!--  MOVE THIS TO THE HEAD EVENTUALLY -->

    
    <div class="jumbotron">
        <br><br>

    <p class="help-block">
        Looking for a new spot to try?

        Tell me three restaurants that you like. <br><br></p>
        <form class="favorite-restaurants" method="POST">
        <form role="form">
  <div class="form-group">
    <label for="restaurant_1"></label>
    <input type="text" class="form-control" name ="restaurant_1" id="searchTextField" size="50">
  </div>
  <div class="form-group">
    <label for="restaurant_2"></label>
    <input type="text" class="form-control" name = "restaurant_2" id="searchTextField2">
  </div>
 <div class="form-group">
    <label for="restaurant_3"></label>
    <input type="text" class="form-control" name = "restaurant_3" id="searchTextField3" >
  </div>

  <br>
    <div class="container">  
    		<div class="row">
        		<div class="col-md-6">  
    
			    <p class="help-block">
			    
			         Where would you like to search? <br> 
			         </p>
			 
			         <input type = "user_geo" name = "user_geo" id ="user_geo" placeholder="Zip"> <br> <br><br>
			          <script>
			         function isValidUSZip(user_gep) {
						   return /^\d{5}(-\d{4})?$/.test(user_geo);
						}
			         </script>	

			    </div>
			     
		    
		     <p class="help-block">     
		        What types of cuisine are you looking for?
		        <br>
		    </p>
       
        		<div class="col-md-6">  
					
					<div class="btn-group" role="group" aria-label="...">
						<button id="lauren1" type="button" class="btn btn-default"> Cuisines similar to these restaurants
						
					</div>

					<div class="btn-group" role="group" aria-label="...">
						<button id="lauren2" type="button" class="btn btn-default"> Surprise me.
						
					</div>


        	
		</div>
	</div>
		<br>  
         <button class="btn btn-primary btn-lg" class="btn btn-default" align = "right" type="submit"> Tell me where to go 
         </button><br>

				</div>

           
   </form>
  </div>
  <!--      
        



{%endblock%}