<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}


{% block body %}  

 <div class="panel panel-default">
<div class="panel-body">


    
    <p class="help-block">

    <form class="form-signin" method="POST">
    <h4 class="form-signin-heading" width = "40px">A bit more about you:</h2>
      Please tell us how much the following features matter to you, on an integer scale of 1 to 5. 
    </p>
    <input type="number"  min="1" max="5"name="options_organic" id ="options_organic" class="form-control" placeholder="Organic" required autofocus width = "40px" />
    <input type="number" min="1" max="5" name="options_healthy" id = "options_healthy" class="form-control" placeholder="Parking" required  width = "40px" />
    <input type="number" min="1" max="5" name="wifi" id = "wifi" class="form-control" placeholder="Wifi" required  width = "40px" />
    <input type="number"  min="1" max="5"name="kids_goodfor" class="form-control" placeholder="Kid-friendly" required  width = "40px" />
    <input type="number" min="1" max="5" name="accessible_wheelchair" id = "accessible_wheelchair" class="form-control" placeholder="Accessible" required  width = "40px" />
    <input type="number" min="1" max="5" name="parking" id = "parking" class="form-control" placeholder="Parking" required  width = "40px" />
    
    
     <div class="checkbox">
  
    <button type="submit" class="btn btn-primary btn-lg" class="btn btn-default" >Submit</button>
  </div>
    
    
</div>
</div>




 
</form>

{%endblock%}