<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %}


{% block body %}  

 <div class="panel panel-default">
<div class="panel-body">


    
    <p class="help-block"> 

 <form class="form-signin" method="POST">
 <!--    <h4 class="form-signin-heading" width = "40px">A bit more about you</h2>
    <input type="text" name="age" class="form-control" placeholder="Age" required autofocus width = "40px" />
    <input type="text" min="male" max="female" name="gender" class="form-control" placeholder="Gender" required  width = "40px" />
    <input type="text" name="zip" length="5" class="form-control" placeholder="Zip" required  width = "40px" />
    <input type="text" name="job" class="form-control" placeholder="Job" required  width = "40px" />
   <br>
 -->
    <h4 class="form-signin-heading" width = "40px">  Please tell us how much the following features matter to you. </h4>
    </p>
    <input type="number"  min="1" max="5"name="options_organic" id ="options_organic" class="form-control" placeholder="Organic options" required autofocus width = "40px" />
    <input type="number" min="1" max="5" name="options_healthy" id = "options_healthy" class="form-control" placeholder="Healthy options" required  width = "40px" />
    <input type="number" min="1" max="5" name="wifi" id = "wifi" class="form-control" placeholder="Wifi" required  width = "40px" />
    <input type="number"  min="1" max="5"name="kids_goodfor" class="form-control" placeholder="Kid-friendly" required  width = "40px" />
    <input type="number" min="1" max="5" name="accessible_wheelchair" id = "accessible_wheelchair" class="form-control" placeholder="Accessible" required  width = "40px" />
    <input type="number" min="1" max="5" name="parking" id = "parking" class="form-control" placeholder="Parking" required  width = "40px" />
    
  
     
    <button type="submit" class="btn btn-primary btn-lg" class="btn btn-default" >Submit</button>
 
</form>
 
  </div>
    
    
</div>
</div>




 
</form>

{%endblock%}