{% extends 'base.html' %}


{% block body %}  

<!-- 
<form role="form" method="POST"> -->
<!-- 
<form class="form-signin" method="POST">
  <div class="form-group">
    <label for="user_age"> Age</label>
    <input type="age" class="form-control" id="age" placeholder="Age">
  </div>

  <div class="form-group">
    <label for="user_gender">Gender</label>
    <input type="gender" class="form-control" id="gender" placeholder="Gender">
  </div>

  <div class="form-group">
    <label for="user_zip">Zip</label>
    <input type="zip" id="zip" placeholder = "Zip">
    <p class="help-block">This will help us make better recommendations.</p>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> I agree to give you my firstborn
    </label>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

 -->

 <form class="form-signin" method="POST">
    <h4 class="form-signin-heading" width = "40px">A bit more about you:</h2>
    <input type="text" name="age" class="form-control" placeholder="Age" required autofocus width = "40px" />
    <input type="text" name="gender" class="form-control" placeholder="Gender" required  width = "40px" />
    <input type="text" name="zip" class="form-control" placeholder="Zip" required  width = "40px" />
    <input type="text" name="job" class="form-control" placeholder="Job" required  width = "40px" />
   

     <div class="checkbox">
    <label>
      <input type="checkbox"> I agree to give you my firstborn
    </label>
  </div>
    
     <h4 class="form-signin-heading" width = "40px" > When you're looking for a restaurant, how important are these things to you on a scale of 1 to 5?  <br>If it varies -- um, we'll figure something out for that. </h2>
    <input type="number" name="wifi"  min="1" max="5" class="form-control" required  width = "10px" />

     <input type="number" name="organic"   min="1" max="5" class="form-control" required  width = "10px" />
 <button type="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

 
</form>
<!-- 

<form class="form-inline" role="form" method = "GET">
  <div class="form-group">
    <div class="input-group">
      <label class="sr-only" for="exampleInputEmail2">What does this print</label>
      <div class="input-group-addon"> </div>
      <input type="text" class="form-control" id="age" placeholder="Enter age">
    </div>
  </div>
  <div class="form-group">
    <label class="sr-only" for="gender">Gender</label>
    <input type="text" class="form-control" id="gender" placeholder="Gender">
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-default">Sign in</button>
</form> -->

{%endblock%}