{% extends 'base.html' %}


{% block body %}  

<!-- 
<form role="form" method="POST"> -->
<!-- 
<form class="form-signin" method="POST">
  <div class="form-group">
    <label for="user_age"> Age</label>
    <input type="age" class="form-control" id="age" placeholder="Age">
  </div>

  <div class="form-group">
    <label for="user_gender">Gender</label>
    <input type="gender" class="form-control" id="gender" placeholder="Gender">
  </div>

  <div class="form-group">
    <label for="user_zip">Zip</label>
    <input type="zip" id="zip" placeholder = "Zip">
    <p class="help-block">This will help us make better recommendations.</p>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox"> I agree to give you my firstborn
    </label>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

 -->

    
 <div class="panel panel-default">
<div class="panel-body">

 <form class="form-signin" method="POST">
    <h4 class="form-signin-heading" width = "40px">A bit more about you:</h2>
    <input type="text" name="age" class="form-control" placeholder="Age" required autofocus width = "40px" />
    <input type="text" name="gender" class="form-control" placeholder="Gender" required  width = "40px" />
    <input type="text" name="zip" class="form-control" placeholder="Zip" required  width = "40px" />
    <input type="text" name="job" class="form-control" placeholder="Job" required  width = "40px" />
   

     <div class="checkbox">
    <label>
      <input type="checkbox"> I agree to give you my firstborn
    </label>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
    
</form>
</div>
</div>


{%endblock%}